/* Colours */
/* Fluid heading sizes - set your min/max sizes and you're done! */
/* Some device sizes */
/* adjusted breakpoints for above */
/* 100% widths look better than "Snapping" IMO */
/* Utility */
/* Additional Spacers -- don't think you'll need more than 7, but if you do -- maybe just use a custom class  :)  */
.woocommerce-cart .comment-respond, .woocommerce-cart .mini-cart {
  display: none; }

.woocommerce .cart-content {
  padding-top: 52px; }
  @media (max-width: 575px) {
    .woocommerce .cart-content {
      padding-top: 30px; } }
  .woocommerce .cart-content .woocommerce-cart-form {
    margin-bottom: 65px; }
  .woocommerce .cart-content .cart-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px; }
  .woocommerce .cart-content .shop_table {
    margin-bottom: 22px;
    border: 1px solid #f2f2f2;
    border-radius: 0; }
    .woocommerce .cart-content .shop_table thead {
      background: #f2f2f2; }
    .woocommerce .cart-content .shop_table th {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
      color: #393939;
      text-transform: capitalize;
      font-family: "Oswald", sans-serif;
      padding: 13px 12px; }
    .woocommerce .cart-content .shop_table td {
      border-top: 0;
      border-bottom: 1px solid #f2f2f2;
      padding: 10px 12px; }
      @media (max-width: 575px) {
        .woocommerce .cart-content .shop_table td a {
          padding-left: 15px; } }
    .woocommerce .cart-content .shop_table td.product-remove a {
      font-size: 25px; }
    .woocommerce .cart-content .shop_table td.product-thumbnail a {
      display: inline-block;
      max-width: 42px; }
      .woocommerce .cart-content .shop_table td.product-thumbnail a img {
        width: 100%;
        height: 40px;
        object-fit: contain; }
    .woocommerce .cart-content .shop_table td.product-name a {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
      color: black;
      font-family: "Nunito Sans", sans-serif;
      text-decoration: underline; }
      @media (max-width: 991px) {
        .woocommerce .cart-content .shop_table td.product-name a {
          font-size: 14px; } }
    .woocommerce .cart-content .shop_table td.product-price span {
      font-size: 1rem;
      line-height: 1.25;
      font-weight: 400;
      color: black;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif; }
      @media (max-width: 991px) {
        .woocommerce .cart-content .shop_table td.product-price span {
          font-size: 14px; } }
    .woocommerce .cart-content .shop_table td.product-quantity input {
      border: 1px solid #777777;
      width: 50px;
      line-height: 28px;
      font-size: 1rem;
      font-weight: 400;
      color: black;
      font-family: "Nunito Sans", sans-serif;
      text-align: center; }
      @media (max-width: 991px) {
        .woocommerce .cart-content .shop_table td.product-quantity input {
          font-size: 14px; } }
    .woocommerce .cart-content .shop_table td.product-subtotal span {
      font-size: 1rem;
      line-height: 1.25;
      font-weight: 700;
      color: black;
      text-transform: uppercase;
      font-family: "Oswald", sans-serif; }
      @media (max-width: 991px) {
        .woocommerce .cart-content .shop_table td.product-subtotal span {
          font-size: 14px; } }
  .woocommerce .cart-content .actions {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 575px) {
      .woocommerce .cart-content .actions {
        align-items: flex-start;
        flex-direction: column; } }
    .woocommerce .cart-content .actions .coupon {
      display: flex; }
      @media (max-width: 575px) {
        .woocommerce .cart-content .actions .coupon {
          flex-direction: column;
          margin-bottom: 20px; } }
      .woocommerce .cart-content .actions .coupon label {
        display: none; }
      .woocommerce .cart-content .actions .coupon input[type='text'] {
        border: 1px solid #777777;
        color: #777777;
        line-height: 50px;
        text-align: center;
        padding: 0 55px;
        background: white;
        font-size: 1rem;
        font-weight: 400;
        font-family: "Nunito Sans", sans-serif; }
        @media (max-width: 991px) {
          .woocommerce .cart-content .actions .coupon input[type='text'] {
            font-size: 14px;
            line-height: 40px;
            padding: 0 20px; } }
      .woocommerce .cart-content .actions .coupon button[type='submit'] {
        margin-left: 18px; }
        @media (max-width: 575px) {
          .woocommerce .cart-content .actions .coupon button[type='submit'] {
            margin-left: 0;
            margin-top: 20px; } }
  .woocommerce .cart-content .cart-collaterals {
    display: flex; }
    @media (max-width: 768px) {
      .woocommerce .cart-content .cart-collaterals {
        flex-direction: column; } }
    .woocommerce .cart-content .cart-collaterals .cart-related-section {
      background: #F2F2F2;
      padding: 48px 0 65px;
      position: relative; }
      .woocommerce .cart-content .cart-collaterals .cart-related-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        height: 100%;
        width: 1000%;
        background: #F2F2F2; }
      .woocommerce .cart-content .cart-collaterals .cart-related-section .related {
        width: 100%; }
        .woocommerce .cart-content .cart-collaterals .cart-related-section .related h2 {
          margin-bottom: 1.5rem; }
      .woocommerce .cart-content .cart-collaterals .cart-related-section .custom-products-design .product {
        flex: 0 0 33%; }
        @media (max-width: 1199px) {
          .woocommerce .cart-content .cart-collaterals .cart-related-section .custom-products-design .product {
            flex: 0 0 50%; } }
        @media (max-width: 575px) {
          .woocommerce .cart-content .cart-collaterals .cart-related-section .custom-products-design .product {
            flex: 0 0 100%; } }
        .woocommerce .cart-content .cart-collaterals .cart-related-section .custom-products-design .product picture {
          margin: 0 auto; }
    .woocommerce .cart-content .cart-collaterals .cart_totals {
      max-width: 350px;
      width: 100%;
      margin-left: 30px;
      padding-top: 48px; }
      @media (max-width: 768px) {
        .woocommerce .cart-content .cart-collaterals .cart_totals {
          flex-direction: column;
          margin: 0 auto;
          padding: 30px 0; } }
      .woocommerce .cart-content .cart-collaterals .cart_totals h2 {
        margin-bottom: 22px; }
      .woocommerce .cart-content .cart-collaterals .cart_totals .shop_table {
        margin-bottom: 22px;
        border: 1px solid #f2f2f2;
        border-bottom: none; }
        .woocommerce .cart-content .cart-collaterals .cart_totals .shop_table th {
          background: #f2f2f2;
          font-size: 1rem;
          font-weight: 400;
          font-family: "Oswald", sans-serif;
          color: #393939;
          line-height: 1.25;
          padding: 15px 22px;
          border-bottom: 1px solid white;
          border-top: none; }
          @media (max-width: 991px) {
            .woocommerce .cart-content .cart-collaterals .cart_totals .shop_table th {
              padding: 15px 10px; } }
        .woocommerce .cart-content .cart-collaterals .cart_totals .shop_table td {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.25;
          font-family: "Oswald", sans-serif;
          color: black;
          padding: 15px 26px;
          border-bottom: 1px solid #f2f2f2;
          border-top: none; }
          @media (max-width: 991px) {
            .woocommerce .cart-content .cart-collaterals .cart_totals .shop_table td {
              padding: 15px 15px; } }
        .woocommerce .cart-content .cart-collaterals .cart_totals .shop_table .order-total th {
          font-weight: 700; }
      .woocommerce .cart-content .cart-collaterals .cart_totals .wc-proceed-to-checkout {
        padding: 0; }
        .woocommerce .cart-content .cart-collaterals .cart_totals .wc-proceed-to-checkout a {
          background: #B40000;
          text-transform: uppercase;
          line-height: 52px;
          font-size: 1rem;
          font-weight: 400;
          font-family: "Oswald", sans-serif;
          border-radius: 0;
          padding: 0; }
          @media (max-width: 991px) {
            .woocommerce .cart-content .cart-collaterals .cart_totals .wc-proceed-to-checkout a {
              font-size: 14px;
              line-height: 40px; } }
