@import '_variables.scss';


// // Deal Section Stylling  
.deals-section{
    background-color: $gray;
    padding-top: 3.2rem;
    padding-bottom: 2.2rem;
    .deal-top {
        .section-top-left{
            h2{
                line-height: 43px;
                margin-bottom: 15px;
                @media(max-width:$sm){
                    margin-bottom: 20px;
                }
            }
            h3{
                font-family: $font-family-base;
            }
        }
        .section-top-right{
               margin-bottom: 1.3rem;
        }
    }
    
    
}

.top-selling-section{
    .products {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px  !important;
        .product{

        flex: 1;
        flex: 0 0 100%;
        padding: 0px 15px !important;
        background: transparent;
        box-shadow: none !important;
        margin:0px 0px 30px !important;
        @media(min-width:$md){
            flex: 0 0 50%;
            width: 50%  !important;
        }
        @media(min-width:$lg){
            flex: 0 0 33.333%;
            width: 33.333% !important;
        }
        .product-wrapper{
            background-color: #fff;
            box-shadow: 0px 0px 4px #0000001a !important;
            height: 100%;
        }

    }
  }
}

// Vacuum Specialists Section Styling

.vacuum-specialists-section{
    background-color: rgba(119,119,119,.20);
    position: relative;
    .vacuum-left{
        padding: 3.2rem 15px 4rem;
        h2{
            padding-bottom: 40px;
            line-height: 40px;
            max-width: 300px;
            &::after{
                position: relative;
                content: "";
                height: 4px;
                background: #B40000;
                height: 2px;
                bottom: 0px;
                left: 0px;
                display: block;
                z-index: 999;
                width: 130px;
                bottom: -20px;
            }
        }
        h3{
            position: relative;
            margin-top: 50px;
            font-family: $font-family-base;
            max-width: 300px; 
            span{
                display: flex;
                font-size: 80px; 
                font-family: "Oswald", sans-serif;
                &:first-child{
                    line-height: 5px;
                }
                &:last-child{
                    transform: rotate(181deg);
                    align-items: flex-end;
                    justify-content: flex-end;
                    line-height: 9px;
                }
            }
        }
    }
    .vacuum-right{
        background-color: $white;
        padding: 3.3rem 15px 2.5rem 3.5rem;
        position: relative;
        z-index: 5;
        @media(max-width:$sm){
            padding-left: 15px;
        }
        p{
            margin-bottom: 1.5rem;
            .btn{
                margin-top: .7rem  !important;
            }
          
        }
    }

    &:after{
        @media(min-width: $md){
            display: block;
            position: absolute;
            content: "";
            background: $white;
            right: 0px;
            height: 100%;
            top: 0px;
            width: 30%;
            z-index: 4;
        }
    }
}


// New Featured Section Styling  

.featured-section{
    padding: 49px 15px 20px;
    background-color: $gray;
    .section-featured-right{
        .btn{
            min-width: 267px;
        }
    }
}



// Contact Shipping section

.contactShiping-section{
    padding: 91px 15px;
    position: relative;
    .contact-shipping-left{
        @media(min-width:$md){
            margin-bottom: 0;
        }
        margin-bottom: 50px;
       
        .black-box {
                background-color: $black;
                display: flex;
                justify-content: center;
                height: 122px;
                flex-direction: column;
                margin-bottom: 1rem;
                padding-left: 5rem;
                background-image: url("../assets/images/checkmark.svg");
                background-repeat: no-repeat;
                background-position: center left 12px;
                @media(min-width:$sm){
                    background-position: center left 30px;
                    padding-left: 6.5rem;
                }
                @media(min-width:$lg){
                    padding-left: 116px;
                }
                &:last-child{
                    margin-bottom: 0px;
                }
            h2{ 
                color: $white;
                margin: 0;
            }
            h3{
                color: $white;
                margin: 0;
                font-family: $font-family-base;
            }
        }   
    }
    .contact-shipping-right{
        p{
            @media(min-width:$md){
                 padding-left: 50px;
            }
            margin-bottom: 1.4rem;
            &:last-child{
                text-align: right;
            }
        }
    }
    &::after{
        width: 100%;
        content: "";
        position: absolute;
        height: 100%;
        left: 0px;
        z-index: -1;
        background: $red;
        top: 65px;
        max-width: 100%;
        max-height: 450px;
        @media(min-width:$md){
            max-width: 320px;
        }
        @media(min-width:$lg){
            max-width: 490px;
        }
        @media(min-width:$xl){
            max-width: 537px;
        }
    }
}


