@import '_variables.scss';

// Single Product Page Styling
// #pa_color{
//   display: none;
// }
// #pa_size{
//   display: none;
// }

.additional_information_tab {
  display: none !important;
}

.woocommerce-Tabs-panel {
  h2 {
    display: none;
  }

  p {
    strong {
      font-size: calc(#{$h3-min + "px"} + (#{$h3-max} - #{$h3-min}) * ((100vw - 320px) / (1920 - 320)));
      font-family: $font-family-google-os;
      margin-bottom: 1.5rem;
      display: block;
      font-weight: 400;
    }
  }
}




.product-type-simple {
  .entry-summary {
    .cart {
      display: flex;
      align-items: center;
      padding-top: 2em;
      border-top: 1px solid $med-gray;
      padding-bottom: 2em;
      border-bottom: 1px solid $med-gray;

    }
  }
}



.single-product-container {

  .onsale {
    top: 2rem !important;
    left: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.15em;
    min-height: 2.15em !important;
    min-width: 3.6em !important;
    width: 3.6em;
    font-size: 14px !important;
    font-weight: $font-weight-base !important;
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: $light-red !important;
  }

  .container {
    position: relative;
  }

  margin: 67px auto 0;

  .woocommerce-product-gallery {
    @media(min-width: $lg) {
      width: 40% !important;
    }

    .woocommerce-product-gallery__trigger {
      display: none;
    }

    .flex-viewport {
      box-shadow: 0px 0px 4px #0000001a;
      // padding: 30px 0px;

      .woocommerce-product-gallery__image {
        picture {
          max-width: 450px !important;
          max-height: 450px !important;
          height: 450px !important;
          margin: 0 auto;

          img {
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    .flex-control-thumbs {
      li {
        padding: 0px 2.5px;
      }
    }
  }

  .entry-summary {
    @media(min-width: $lg) {
      width: 57% !important;
    }

    .quantity {
      margin-right: 32px !important;

      input {
        border-radius: 0px;
        min-height: 32px;
        border: 1px solid #000;
        outline: 0px !important;
      }
    }

    .wishlist-toggle {
      position: relative;
      top: 0;
      order: 0;
      left: 0;
      display: flex;
      align-items: center;
      vertical-align: middle;

      img {
        filter: brightness(0.5);
      }
    }

    .br_compare_button {
      order: 2;
      background-color: transparent !important;
      width: auto;
      padding: 0px !important;
      margin-right: 2rem !important;
      font-weight: $font-weight-base !important;
      margin-top: 0px !important;
      // .fa-square-o{
      //   display: none;
      // }
      // .fa-check-square-o{
      //   display: none;
      // }
    }

    .wishlist-title {
      display: inline-block;
      vertical-align: middle;
    }

    .product_title {
      font-size: calc(#{$h3-min + "px"} + (#{$h3-max} - #{$h3-min}) * ((100vw - 320px) / (1920 - 320)));
      text-transform: capitalize;
      letter-spacing: 0px;
      line-height: 30px;
      margin-bottom: .75rem;
    }

    .woocommerce-product-rating {
      margin-bottom: .8em !important;

      .woocommerce-review-link {
        font-size: 14px;
        color: $med-gray;
        text-transform: capitalize;
      }
    }

    .price {
      margin-bottom: 1.7rem;
      font-size: 2.25rem !important;
      color: $med-gray !important;
      font-family: $font-family-google-os;
      font-weight: $font-weight-bold;
      flex-direction: row-reverse;
      justify-content: flex-end;
      display: flex;

      ins {
        text-decoration: none;

        .woocommerce-Price-amount {
          margin-right: 2rem;

          bdi {
            color: $light-red;
            font-size: calc(#{$h1-min + "px"} + (#{$h1-max} - #{$h1-min}) * ((100vw - 320px) / (1920 - 320)));
          }

        }
      }

      del {
        font-weight: $font-weight-base;
        opacity: 1 !important;
      }
    }

    .woocommerce-product-details__short-description {
      p {
        color: $black;
        margin-bottom: 2rem;
      }
    }

    .variations_form {

      .variations {
        margin-bottom: 1.5em !important;

        .label {
          color: $med-gray;
          font-weight: $font-weight-base !important;
          // @media(min-width: $lg){
          //   flex: 2;
          // }
        }

        // .value {
        //   flex: 11;
        // }
        tr {

          display: flex;
          align-items: center;
        }

        .generatedRadios {
          border-radius: 0px !important;
          min-width: 61px;
          box-shadow: none;
          border: 1px solid $black;
          min-height: 32px;
          margin: 8px 16px 8px 0 !important;
          overflow: hidden;
          text-align: center;
          cursor: pointer;

          &.selected {
            background-color: $black;
            color: $white;
          }

          &.disabled {
            border: 1px solid $med-gray;
            pointer-events: none;
            position: relative;

            span {
              opacity: 1;
              color: $med-gray;
            }

            &:before {
              transform: rotate(151deg) !important;
              background: $med-gray !important;
              width: 107% !important;
              position: absolute;
              content: " " !important;
              height: 1px;
              left: 0;
              right: 0;
              bottom: 0;
              top: 50%;
              visibility: visible;
              opacity: 1;
              border: 0;
              margin: 0 !important;
              padding: 0 !important;
              min-width: auto;
              -webkit-transform-origin: center;
              transform-origin: center;
              z-index: 0;
            }

            &:after {
              content: none !important;
            }
          }
        }
      }

      .single_variation_wrap {
        padding-bottom: 2em;
        border-bottom: 1px solid $med-gray;

        .qty-label {
          font-weight: 400;
          width: 54px !important;
          padding-right: 1em;
          color: $med-gray;
        }
      }

      .woocommerce-variation-add-to-cart {
        display: flex;
        align-items: center;
        padding-top: 2em;
        border-top: 1px solid $med-gray;

      }

    }

    .qty {
      min-width: 60px;
      padding-right: 1em;
      color: #777777;
    }

    .quantity {
      input {
        min-width: 60px;
        padding-right: 0;
        color: black;
      }
    }

    .product-detail-options {
      display: flex;
      margin-bottom: 30px;
      color: $med-gray;
      align-items: center;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      @media (max-width: 440px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .wishlist-title {
        order: 1;
        text-decoration: underline;
        margin-bottom: 0;
        margin-right: 2rem;
        margin-left: .5rem;

        @media (max-width: 1024px) {
          margin-right: 1rem;
        }

        @media (max-width: 440px) {
          margin-left: 18px;
        }
      }

      .product_meta_top {
        order: 2;
        display: flex;

        @media(max-width: 991px) {
          width: 100%;
          margin-top: 1rem;
        }

        @media(max-width: 768px) {
          width: auto;
          margin-top: 0;
        }

        #print-product {}

        #print-button {
          display: flex;
          margin-right: 2rem;
          align-items: center;
          text-decoration: underline;

          span {
            @media (max-width: 440px) {
              margin-left: 6px;
            }
          }

          img {
            margin-left: 7px;

            @media (max-width: 440px) {
              margin-left: 0;


            }
          }
        }

        .btn-view {
          @media (max-width: 440px) {
            margin-right: 0;
          }
        }
      }
    }

    .product_meta {
      margin-bottom: 2em;

      .sku_wrapper {
        color: $med-gray;
        display: block;
        margin-bottom: 5px;
        margin-top: 2em;
        line-height: 1.5em;

        .sku {
          color: $black;
        }
      }

      .posted_in {
        color: $med-gray;
        display: block;

        a {
          color: $black;
          text-decoration: underline;
        }
      }
    }
  }
}


.related {
  background-color: $gray;
  padding: 3.3em 0 2.5em;

  h2 {
    margin-bottom: 1.5rem;
  }
}


#print-iframe {
  display: none;
}

.single_add_to_cart_button {
  min-height: 52px;
  padding: 14px 36px !important;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400 !important;
  letter-spacing: .8px;
  background-color: #0071E3 !important;
  border-radius: 0px !important;
  transition: 0.2s all ease;

  @media(max-width:375px) {
    padding: 14px 25px;
  }

  &:hover {
    background-color: #004284 !important;
  }
}


// PRODUCT COMPARISON MODEL STYLING STARTS

#readersModal.show {
  display: block;
}

#readersModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  background: #fff;
  max-width: 800px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  max-height: 560px;
  overflow-y: auto;
  box-shadow: 0 4px 18px 5px rgba(0, 0, 0, 0.4);

  .popup_header {
    background: #000;
    margin: auto;
    position: relative;

    h3 {
      color: #fff;
      text-align: center;
      padding: 10px 0px;
      margin: 0px;
    }

    .popupclose {
      color: #fff;
      right: 0;
      position: ABSOLUTE;
      top: 6px;
      right: 15px;
      font-size: 30px;
      cursor: pointer;
    }
  }

  #post_detail {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 50px;
    margin: 0;

    &>div {
      border-right: 2px solid #000;
      min-width: 270px;

      &:last-child {
        border-right: none;
      }
    }

    .reader-image-wrap {
      max-width: 300px;
      margin: 0 auto 50px;

      img {
        height: 190px;
        margin: 0 auto;
        object-fit: scale-down;
      }
    }

    .content-wrap {
      text-align: center;

      h4 {
        min-height: 53px;
        font-weight: 400;
      }

      p {
        margin: 20px 0;
      }
    }

    .btn-remove {
      background: #393939;
      color: #fff;
      border: 1px solid transparent;
      padding: 6px 8px;
      text-transform: capitalize;

      :hover {
        background: #fff;
        color: #393939;
        border: 1px solid #393939;
      }
    }

  }
}

#readersModal.hide {
  display: none;
}

.btn-view {
  float: left;
  line-height: 26px;
  margin-right: 8px;
  color: #000;
  border: 1px solid transparent;
  text-decoration: underline;
  margin-bottom: 0;
}

.comparison-img {
  width: 24px;
  display: inline-block;
  margin-right: 10px;
  opacity: 0.6;
}

// PRODUCT COMPARISON MODEL STYLING ENDS